.nav-button-wrapper {
    margin: 0 auto;
}

.button-wrapper {
    margin: 10px;
}

.logo-wrapper {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.logo-wrapper img {
    width: 100%;
}


/* links */

.nav-button-wrapper a:link {
    color: #000000;
    font-weight: 300;
    padding-bottom: 5px;
}

.nav-button-wrapper a:hover {
    border-bottom: solid 3px #d89f01;
}

.all-reviews a:hover {
    border-bottom: solid 3px #d89f01;
}

.all-reviews a:link {
    color: #000000;
    padding-bottom: 5px;
}

.all-reviews a {
    font-size: 0.8rem;
    font-weight: 200;
}

.all-reviews a:visited {
    color: #000000;
}

.nav-button-wrapper a:visited {
    color: #000000;
}

/* ----------------------- */

.splash-nav span {
    padding: 1.1rem;
}
.pillar-page-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: -0.2rem;
    font-size: 4rem;
}


.title-wrapper {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: -0.2rem;
    font-size: 4rem;
    margin-top: 2rem;
}
section.image {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

section.image.img {
    width: 50%;
}

section.details {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 2rem;
    margin-top: 1rem;
}

.rating {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

th, td {
    font-family: 'Roboto', sans-serif;
}

.pillar-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
}

.review-image-collapsible {
    display: inline-block;
    float: left;
    width: 40%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
}

.review-text-collapsible {
    display:inline-block;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.collapsible-review-header {
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
}

.collapsible-review {
    text-align: left;
}

.all-reviews {
    text-align: right;
}

.review-signature {
    font-size: 0.5rem;
    text-align: center;
}

.nav-wrapper {
    background-color: #ffffff;
}

.nav-wrapper a {
    font-weight: 300;
    font-size: 0.8rem;
    color: #d89f01;
}

.nav-wrapper img {
    height: 65px;
    padding: 1rem;
}
