<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/8bitbyte.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>


	<script type="text/javascript">
    $(document).ready(function(){
          $('.parallax').parallax();
        });
    </script>

</head>


<body>
    <nav>
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo"><img src="../static/img/logo.png"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href={{ url_for('restaurants') }}>Restaurants</a></li>
          <li><a href={{ url_for('reviews') }}>Reviews</a></li>
          <li><a href={{ url_for('reviewers') }}>Reviewers</a></li>
		  <li><a href={{ url_for('about') }}>About</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <header>
            <div class="title-wrapper">
                {{ restaurant.name }}
            </div>
            <div class="rating">
                {% for star in range(restaurant.rating) %}
                    <i class="medium material-icons">stars</i>
                {% endfor %}
            </div>
        </header>

        <main>
            <section class="image">
                <img src={{ restaurant.image }} class="circle responsive-img"/>
            </section>

            <section class="details">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_dining</i>About</div>
                        <div class="collapsible-body"><span>{{ restaurant.cuisine }}, {{ restaurant.price }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Contact Us</div>
                        <div class="collapsible-body">
                            <span>{{ restaurant.address }}</span><br/>
                            <iframe width="200" height="160" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCss3j5LQeY469OfJOKC3Iu86xvAZwtxis&q={{ restaurant.address }}" allowfullscreen></iframe><br/>
                            <span>{{ restaurant.phone }}</span><br/>
                            <span><a href={{ restaurant.url }}>Visit their website</a></span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Reviews</div>
                            <div class="collapsible-body">
                                <div class="collapsible-review-header">
                                    <span>Most Recent Review</span>
                                    <div class="rating">
                                        {% for i in range(review.rating) %}
                                            <i class="small material-icons">stars</i>
                                        {% endfor %}
                                    </div>
                                <div class="row valign-wrapper">
                                    <div class="col s4 m4">
                                        <img class="circle responsive-img" src="../static/img/johnpic.jpg"/>
                                        <div class="review-signature">
                                            <span>{{ review.signature }}</span>
                                        </div>
                                    </div>
                                    <div class="col s8 m8">
                                        <p class="review-text-collapsible">{{ review.text }}
                                        </p><br>
                                        <div class="all-reviews"><a href="Reviews-Verts.html">See all reviews</a></div>
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
            </section>

        </main>

    </div>



</body>


</html>
