<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>8BitBites</title>

    <!-- Round About Style -->
    <link rel="stylesheet" href="../static/css/pillar.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">


    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:600" rel="stylesheet"> -->

    <!-- Navbar styles -->
    <link rel="stylesheet" href="../static/css/navbar.css">

    <!-- Import custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/8bitbyte.css"/>

    <!-- JavaScript -->
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#table').DataTable({"dom": '<ltip>' });
    });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <span>
        <div class="page-header">
            <h1>8BitBites</h1>
        </div>
    </span>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href= {{ url_for('index') }}>Home</a></li>
        <li role="presentation"><a href={{ url_for('restaurants') }}>Restaurants</a></li>
        <li role="presentation" class="active"><a href={{ url_for('reviews') }}>Reviews</a></li>
        <li role="presentation"><a href={{ url_for('reviewers') }}>Reviewers</a></li>
        <li role="presentation"><a href={{ url_for('about') }}>About</a></li>
    </ul>

    <div class="container">
        <div class="table-container">
            <div class="pillar-title">Reviews</div>
            <table id="table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Review Number</th>
                        <th>Reviewer</th>
                        <th>Restaurant</th>
                        <th>Restaurant Location</th>

                        <th>Date</th>
                        <th>Description</th>
                        <th>Rating <br>(1-5)</th>
                        <th>Would Recommend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="ReviewerJohn.html">John Anderson</a></td>
                        <td>VertsKebap</td>
                        <td>2514 Guadalupe St Austin, TX 78705</td>
                        <td>February 1, 2017</td>
                        <td>Their Kebaps are really good and healthy. This place has changed a lot since I first started UT.
                            Still my go to place when I need something fast, but have been a little disappointed in the prices increases.
                            <a href="Review1.html">(Full review...)</td>
                                <td>4</td>
                                <td><a style="color:#33cc33">Yes</a></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td><a href="ReviewerTyler.html">Tyler Durden</a></td>
                                <td>Tulio</td>
                                <td>1100 5th Ave Seattle, WA 98101</td>
                                <td>March 3, 2016</td>
                                <td>Fantastic! Brought my girlfriend here for a date night and we both really enjoyed it.
                                    This place is expensive, but well worth it for a special occassion. <a href="Review2.html">(Full review...)</td>
                                        <td>5</td>
                                        <td><a style="color:#33cc33">Yes</a></td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td><a href="ReviewerAmy.html">Amy Yang</a></td>
                                        <td>La Contenta</td>
                                        <td>102 Norfolk St New York, NY 10002</td>
                                        <td>October 22, 2016</td>
                                        <td>Beef wasn't well cooked… way too chewy and unseasoned. Probably wouldn't return again. <a href="Review3.html">(Full review...)</a></td>
                                        <td>2</td>
                                        <td><a style="color:#ff0000">No</a></td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td><a href="ReviewerJosh.html">Josh Davis</a></td>
                                        <td>Scala Bistro</td>
                                        <td>432 Powell St San Francisco, CA 94102</td>
                                        <td>March 3, 2017</td>
                                        <td>The fog of time probably distorts my memory of Scala's somewhat but the standard of quality is down quite a bit and it's evident in the service, menu, and food.  It's unfortunate but it is what it is -
                                            just another okay restaurant serving passable food to tourists. It was once so much better. <a href="Review4.html">(Full review...)</a></td>
                                            <td>3</td>
                                            <td><a style="color:#ff0000">No</a></td>
                                        </tr>

                                        <tr>
                                            <td>5</td>
                                            <td><a href="ReviewerJames.html">James Connelly</a></td>
                                            <td>Wildwood Kitchen</td>
                                            <td>410 E Haley St Santa Barbara, CA 93101</td>
                                            <td>April 15, 2016</td>
                                            <td>Before I start harping on the quality of the food, I will applaud Wildwood for having tremendous customer service. My waiter Sarah was always quick and responsive to my requests and showed enthusiasm and genuine concern for my experience at the restaurant. But beyond that, I will say, Wildwood is nothing more than subpar barbeque <a href="Review6.html">(Full review...)</a></td>
                                            <td>3</td>
                                            <td><a style="color:#ff0000">No</a></td>
                                        </tr>

                                        <tr>
                                            <td>6</td>
                                            <td><a href="ReviewerSally.html">Sally Chen</a></td>
                                            <td>El Taco Riendo</td>
                                            <td>2412 Central Ave NE Minneapolis, MN 55418</td>
                                            <td>January 15, 2017</td>
                                            <td>Everything on El Taco Riendo's menu is incredible. I've ordered multiple variations of their taco trio, ranging from chicken to brisket to pork to tofu tacos - they have it all. Anything you want in a taco, they can make for you. I love the chill atmosphere of the restaurant. It's a great place to kick it with friends on the weekend; they also have an amazing drink selection <a href="Review5.html">(Full review...)</a></td>
                                            <td>5</td>
                                            <td><a style="color:#33cc33">Yes</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><a href="ReviewerMadison.html">Madison Monet</a></td>
                                            <td>Snake River Grill</td>
                                            <td>84 E Broadway, Jackson, WY 83001</td>
                                            <td>January 4th, 2014</td>
                                            <td>Let me just start by saying I consider myself a duck fry connoisseur. Now when I say Snake River Grill has some damn good duck fries I mean it.<a href="Review9srg.html">(Full review...)</td>
                                                <td>4</td>
                                                <td><a style="color:#33cc33">Yes</a></td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td><a href="ReviewerAlex.html">Alex Buff</a></td>
                                                <td>Slyman's</td>
                                                <td>3106 St Clair Ave NE, Cleveland, OH 44114</td>
                                                <td>May 4th, 2011</td>
                                                <td>I'm a regular at Slyman's. I know the owner. The owner knows me. I walk in, give him a nod and he starts cooking my usual.<a href="Review10sly.html">(Full review...)</td>
                                                    <td>5</td>
                                                    <td><a style="color:#33cc33">Yes</a></td>
                                                </tr>

                                                <tr>
                                                    <td>9</td>
                                                    <td><a href="ReviewerRobert.html">Robert Evremonde</a></td>
                                                    <td>Brasserie Les Halles</td>
                                                    <td>15 John St, New York, NY 10038</td>
                                                    <td>March 30, 2017</td>
                                                    <td>This is Chef Anthony Bourdain's restaurant. This is a fantastic restaurant, truly superb. The wine pairing is well thought out and a true delight. I am thankful that the oysters here at Les Halles remind me of the freshly shucked oysters I grew up eating in France. <a href="Review7.html">(Full review...)</td>
                                                        <td>5</td>
                                                        <td><a style="color:#33cc33">Yes</a></td>
                                                    </tr>

                                                    <tr>
                                                        <td>10</td>
                                                        <td><a href="ReviewerYoung-joun.html">Young-joun Kim</a></td>
                                                        <td>Park's Barbeque</td>
                                                        <td>955 S. Vermont Ave, Los Angeles, CA 90006</td>
                                                        <td>December 28, 2014</td>
                                                        <td>On a blisteringly cold day in LA, several bros and I stepped into Park's for some kalbi and soondobu jjigae to warm the soul. Love the meat here - it's always so fresh and juicy. <a href="Review8.html">(Full review...)</td>
                                                            <td>5</td>
                                                            <td><a style="color:#33cc33">Yes</a></td>
                                                        </tr>

                                                        <tr>
                                                            <td>11</td>
                                                            <td><a href="ReviewerPaul.html">Paul Edgars</a></td>
                                                            <td>The Capital Grille</td>
                                                            <td>801 Hennepin Ave, Minneapolis, MN 55402</td>
                                                            <td>April 1, 2017</td>
                                                            <td>I ordered the tuna tartare with avocado, mango and sriracha. Expecting a very fine meal, I ordered a fine glass of Pinot Grigio to go along with (what I *expected* to be) the culinary masterpiece that followed. <a href="Review11.html">(Full review...)</td>
                                                                <td>5</td>
                                                                <td><a style="color:#ff0000">No</a></td>
                                                            </tr>

                                                            <tr>
                                                                <td>12</td>
                                                                <td><a href="ReviewerGabriella.html">Gabriella Romero</a></td>
                                                                <td>Ulele</td>
                                                                <td>1810 North Highland Avenue, Tampa Bay, FL 33602</td>
                                                                <td>February 14, 2017</td>
                                                                <td>I'll admit, I went into Ulele expecting great things. I'd heard my ex-husband and his brand new wife had them cater his new wedding (with his brand new wife). I made reservations for 1 at Ulele 2 weeks<a href="Review12.html">(Full review...)</td>
                                                                    <td>5</td>
                                                                    <td><a style="color:#33cc33">Yes</a></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </body>
                                            </html>
