

<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <!-- Round About Style -->
      <link rel="stylesheet" href="../static/css/pillar.css">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- DataTable -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

      <!-- Navbar styles -->
      <link rel="stylesheet" href="../static/css/navbar.css">
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

      <!-- Import custom stylesheet -->
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:600" rel="stylesheet">
      <!-- Single-Page styles -->
  	  <link rel="stylesheet" href="../static/css/container.css">
      <link rel="stylesheet" href="../static/css/single_page.css">
      <link type="text/css" rel="stylesheet" href="../static/css/8bitbyte.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <div/>
    <span>
        <div class="page-header">
            <h1>8BitBites</h1>
        </div>
    </span>

<ul class="nav nav-tabs">
    <li role="presentation"><a href= {{ url_for('index') }}>Home</a></li>
    <li role="presentation"><a href={{ url_for('restaurants') }}>Restaurants</a></li>
    <li role="presentation"><a href={{ url_for('reviews') }}>Reviews</a></li>
    <li role="presentation" class="active"><a href={{ url_for('reviewers') }}>Reviewers</a></li>
    <li role="presentation"><a href={{ url_for('about') }}>About</a></li>
</ul>

	&nbsp
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-2 offset-lg-1 offset-md-1">
				<img src={{ reviewer.img }}>
			</div>
			<div class="col-lg-8 col-md-8">
				<h2>{{ reviewer.name }}</h2>
				<h3 class="subtitle">Date Joined</h3>
                    <p>{{ reviewer.date_joined }}</p>

                <h3 class="subtitle">Country of Origin</h3>
                    <p>{{ reviewer.origin }}</p>

                <h3 class="subtitle">Location</h3>
                    <p>{{ reviewer.location }}</p>

                <h3 class="subtitle">Favorite Restaurants</h3>
                    <p>{{ reviewer.fave_restaurant }}</p>

                <h3 class="subtitle">Bio</h3>
                    <p>{{ reviewer.bio }}</p>




				<!-- <p><span class="data-type">Country of Origin:</span> {{ reviewer.origin }}</p>
				<p><span class="data-type">Currently Lives in:</span> {{ reviewer.location }}</p>
				<p><span class="data-type">Favorite Restaurants:</span> {{ reviewer.fave_restaurant }}</p>
				<p><span class="data-type">Biography:</span> {{ reviewer.bio }} </p> -->
                <p><span class="data-type"><a href={{ url_for(reviewer.url) }}>View all reviews by {{ reviewer.name }}</a></span></p>
        		<p><span class="data-type"><a>Connect with {{ reviewer.name }}</a></span></p>
				<p><img src="../static/img/fb.png" style="width:35px;height=35px;margin:0px 35px 30px 0px"> <span style="margin:0px 0px 0px -30px"><a href="https://www.facebook.com">Facebook</a></span>
				 <img src="../static/img/linkedin.png" style="width:35px;height=35px;margin:0px 35px 30px 30px"><span style="margin:0px 0px 0px -30px"><a href="https://www.linkedin.com">Linkedin</a></span></p>

				</div>
		</div>
	   <div class="table-container">

      </div>
	</div>
  </body>
</html>
